header
  background: image_url("header-bg.png") no-repeat top center
  height: image_height("header-bg.png")
  nav 
    overflow: hidden
    ul
      +inline-block-list
      text-align: right
      margin-top: 67px
      li, a
        color: #fff
        text-decoration: none
        font-style: italic
      a:hover
        text-decoration: underline
      