%header
  .container
    %a#home(href="/")
  
    %nav.main
      %ul
        %li
          %a(href="/tematica.html") Temática
        %li.separator 
          |
        %li
          %a(href="/esquema-de-coleccion.html") Esquema de colección
        %li.separator 
          |
        %li
          %a(href="/coleccion.html") Colección
        %li.separator 
          |
        %li
          %a(href="/campania.html") Campaña
        %li.separator 
          |
        %li
          %a(href="/look-book.html") Look Book
        %li.separator 
          |
        %li
          %a(href="/instalacion.html") Instalación
        %li.separator 
          |
        %li
          %a(href="/fichas-tecnicas.html") Fichas Técnicas
        %li.separator 
          |
        %li
          %a(href="/diseniador.html") Diseñador
