%header
  .container
    %nav.main
      %ul
        %li.active
          %a(href="/") Temática
        %li.separator 
          |
        %li
          %a(href="/menu.html") Esquema de colección
        %li.separator 
          |
        %li
          %a#delivery(href="/pedidos.html") Colección
        %li.separator 
          |
        %li
          %a(href="/alcance.html") Campaña
        %li.separator 
          |
        %li
          %a(href="/franquicias.html") Look Book
        %li.separator 
          |
        %li
          %a(href="/contacto.html") Instalación
        %li.separator 
          |
        %li
          %a(href="/alcance.html") Fichas Técnicas
        %li.separator 
          |
        %li
          %a(href="/franquicias.html") Diseñador
