%section.campania
  .container
    .row
      .box.box-d
        .image
          %span CAMPAÑA
          %ul.gallery
            - (1..9).each do |i|
              %li
                %img{:rel =>"coleccion","data-glisse-big" => "images/campania/ampliados/#{i}.jpg", :src => "images/campania/miniaturas/#{i}.jpg"}/