%section.coleccion
  .container
    .row
      .box.box-d
        .image
          %span COLECCIÓN
          %ul.gallery
            - (1..60).each do |i|
              %li
                %img{:rel =>"coleccion","data-glisse-big" => "images/coleccion/ampliados/#{i}.jpg", :src => "images/coleccion/miniaturas/#{i}.jpg"}/