%section.diseniador
  .container
    .row
      .box.box-d
        .image
          %span BREVE HISTORIA DEL DISEÑADOR 
          =image_tag('diseniador/1.jpg')
    .row
      .box.box-d
        .image
          %span SOBRE SUS COLECCIONES
          =image_tag('diseniador/2.jpg')
    .row
      .box.box-d
        .image
          %span SISTEMA OPERATIVO DEL DISEÑADOR
          =image_tag('diseniador/3.jpg')
