%section.esquema-de-coleccion
  .container
    .row
      .box.box-b
        .image
          %span ESQUEMA DE COLECCION
          =image_tag('esquema-de-coleccion/1.jpg')
      .box.box-a.omega
        .image
          %span COLECCION FALL 2005
          =image_tag('esquema-de-coleccion/2.jpg')
    .row
      .box.box-a
        .image
          %span ROKUROKUBI
          =image_tag('esquema-de-coleccion/3.jpg')
      .box.box-a
        .image
          %span NOPPERABO
          =image_tag('esquema-de-coleccion/4.jpg')
      .box.box-a.omega
        .image
          %span KURNO-ONNA
          =image_tag('esquema-de-coleccion/5.jpg')