%section.fichas-tecnicas
  .container
    .row
      .box.box-d
        .image
          %span FICHAS TÉCNICAS
          %ul.gallery
            - (1..134).each do |i|
              %li
                %img{:rel =>"coleccion","data-glisse-big" => "images/fichas-tecnicas/ampliados/#{i}.jpg", :src => "images/fichas-tecnicas/miniaturas/#{i}.jpg"}/