%section.index
  .container
    .row
      .box.box-a 
        %a(href="/tematica.html")
          %span TEMATICA
          =image_tag('home/tematica.jpg')
      .box.box-a 
        %a(href="/esquema-de-coleccion.html")
          %span ESQUEMA DE 
          %span COLECCION
          =image_tag('home/esquema-de-coleccion.jpg')
      .box.box-a.omega
        %a(href="/coleccion.html")
          %span COLECCION
          =image_tag('home/coleccion.jpg')
    .row
      .box.box-b
        %a(href="/campania.html")
          %span CAMPAÑA
          =image_tag('home/campania.jpg')
      .box.box-c.omega
        %a(href="/look-book.html")
          %span LOOK BOOK
          =image_tag('home/look-book.jpg')

    .row
      .box.box-a
        %a(href="/instalacion.html")
          %span INSTALACIÓN
          =image_tag('home/instalacion.jpg')
      .box.box-a
        %a(href="/fichas-tecnicas.html")
          %span FICHAS TECNICAS
          %span Y GEOMETRALES
          =image_tag('home/fichas-tecnicas.jpg')
      .box.box-a.omega
        %a(href="/diseniador.html")
          %span DISEÑADOR
          =image_tag('home/diseniador.jpg')