%section.index
  .container
    .row
      .box 
        %a(href="#")
          %span TEMATICA
          =image_tag('chino.jpg')
      .box 
        %a(href="#")
          %span ESQUEMA DE 
          %span COLECCION
          =image_tag('chino.jpg')
      .box 
        %a(href="#")
          %span COLECCION
          =image_tag('chino.jpg')
    .row
      .box2 
        %a(href="#")
          %span CAMPAÑA
          =image_tag('campania.jpg')
      .box3 
        %a(href="#")
          %span LOOK BOOK
          =image_tag('nena.jpg')

    .row
      .box 
        %a(href="#")
          %span INSTALACIÓN
          =image_tag('chino.jpg')
      .box 
        %a(href="#")
          %span FICHAS TECNICAS
          %span Y GEOMETRALES
          =image_tag('chino.jpg')
      .box 
        %a(href="#")
          %span DISEÑADOR
          =image_tag('chino.jpg')
