%section.instalacion
  .container
    .row
      .box.box-d
        .image
          %span INTALACIÓN
          %ul.gallery
          %ul.gallery
            - (1..4).each do |i|
              %li
                %img{:rel =>"coleccion","data-glisse-big" => "images/instalacion/ampliados/#{i}.jpg", :src => "images/instalacion/miniaturas/#{i}.jpg"}/