%section.look-book
  .container
    .row
      .box.box-d
        .image
          %span LOOK BOOK
          %ul.gallery
            - (1..10).each do |i|
              %li
                %img{:rel =>"coleccion","data-glisse-big" => "http://placehold.it/450x640&text=#{i}", :src => "http://placehold.it/85x120&text=#{i}"}/