%section.look-book
  .container
    .row
      .box.box-d
        .image
          %span LOOK BOOK
          %ul.gallery
          %ul.gallery
            - (1..11).each do |i|
              %li
                %img{:rel =>"coleccion","data-glisse-big" => "images/look-book/ampliados/#{i}.jpg", :src => "images/look-book/miniaturas/#{i}.jpg"}/