%section.tematica
  .container
    .row
      .box.box-b
        .image
          %span LEYENDAS JAPONESAS :: ANOMALIA
          =image_tag('tematica/definicion.jpg')
      .box.box-a.omega
        .image
          %span NOPPERABO
          =image_tag('tematica/leyendah.jpg')
      .box.box-b
        .image
          %span KUMO-ONNA
          =image_tag('tematica/leyenda2.jpg')
    .row
      .box.box-b
        .image
          %span ROKUROKUBI
          =image_tag('tematica/leyenda3.jpg')
      .box.box-a.omega
        .image
          %span OTRAS LEYENDAS JAPONESAS
          =image_tag('tematica/otraleyenda.jpg')